body{
    margin:0;
    background:#eef3fb;
    font-family:Arial, Helvetica, sans-serif;
    padding:40px;
}

.card{

    max-width:760px;

    margin:40px auto;

    background:#ffffff;

    border-radius:22px;

    padding:45px;

    text-align:center;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.logo{
    width:280px;
    max-width:90%;
    margin:0 auto 12px;
    display:block;
}

.launch{
    color:#1d56a8;
    font-size:24px;
    font-weight:700;
    margin-bottom:15px;
}

h1{
    font-size:40px;
    line-height:1.25;
    font-weight:700;
    margin:15px 0 20px;
}

.description{
    font-size:22px;
    line-height:1.7;
}

.btn{

    display:inline-block;

    background:#183f74;

    color:#fff;

    padding:18px 38px;

    text-decoration:none;

    border-radius:10px;

    font-size:24px;

    font-weight:600;

}

.btn:hover{

    background:#12335d;

}

.contact{

    margin-top:35px;

    font-size:23px;

    line-height:1.8;

}

hr{

    margin:35px 0;

    border:none;

    border-top:1px solid #ddd;

}

.copyright{

    font-size:22px;

}

.footer{

    font-size:22px;

    color:#444;

}
